body {
    background: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url(Todo\ list.webp);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

.container {
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: peru;
    padding: 8px;
    border-radius: 5px;
}

a:hover{
    background-color: blueviolet;
}

